body {
   background-image: url(../../images/concrete2.jpg);
   background-size: cover;

}

header {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
    margin-top: 6%;
    background-image: url(../../images/marble.png);
    border: 2px solid black;
    width: 100%;
    
    
    
}
.name {
    background: gold ;
    color: rgb(66, 65, 65);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0px 0px 7px white;
    padding: 20px;
    text-align: center;
    
    border-radius: 4px;
    box-shadow: 0px 0px 9px 5px black;
    
}

.me {
    
    border-radius: 100%;
    border:  2px solid gold;
    box-shadow: 0px 0px 4px 4px black;
    width:170px;
     height:170px;
}



nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
   width: 500px;
    
    
}    
    

nav li {
   display: flex;
   justify-content: center;
    
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

 nav a {
    text-decoration: none;
    color:black;
    
}

nav a:hover {
    text-shadow: 0px 0px 5px gold;
    font-size: 35px;
    transition: 300ms;
}

h1 {
    left: 30%;
    text-align: center;
    font-size: 60px;
   
    width:100%;
   
}

p{ 
    background-image: url(../../images/marble.png);
    
   
    font-size: 30px;
    text-align: left;
    border: 2px solid black;
    border-radius: 30px;
    padding: 50px;
    
}
.skills {
    display: flex;
    justify-content: space-around;
}

.htmllogo {
    width: 200px;
    height: 200px;
}
.csslogo {
    width: 130px;
    height: 200px;
    margin-left: 80px;
}
.javascriptlogo {
    width: 320px;
    height: 200px;
}
.works {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homework{
    margin-top: 10%;
    border: 4px solid gold;
    width:600px;
     height:300px;
    border-radius: 20px;
    opacity: 70%;

}

.homework:hover {

    box-shadow: 0px 0px 15px 8px black;
    opacity: 100%;
    
}

.shop {
    width: 600px;
    height: 300px;
    margin-top: 10%;
    opacity: 70%;
    border: 4px solid gold;
    border-radius: 20px;
}

.shop:hover {
    box-shadow: 0px 0px 15px 8px black;
    opacity: 100%;
}

.quizimg {
    margin-top: 10%;
    border: 4px solid gold;
    width:600px;
     height:300px;
    border-radius: 20px;
    opacity: 70%;

}

.quizimg:hover {
    box-shadow: 0px 0px 15px 8px black;
    opacity: 100%;

}

.passgenimg {
    margin-top: 10%;
    border: 4px solid gold;
    width:600px;
     height:300px;
    border-radius: 20px;
    opacity: 70%; 
}
.passgenimg:hover {
    box-shadow: 0px 0px 15px 8px black;
    opacity: 100%;
}


footer {
    display: flex;
   justify-content: space-between;
    text-shadow: 0px 0px 7px white,0px 0px 7px white;
   
} 
.github {
    width:150px;
     height:80px;

}

.github:hover{
    width:160px;
     height:90px;
     -webkit-filter: drop-shadow(0px 5px 5px black);
    filter:         drop-shadow(0px 5px 5px black); 
    transition: 200ms;
}
.instagram {
    width:80px; 
    height:80px;
}
.instagram:hover {
    width:90px; 
    height:90px;
    -webkit-filter: drop-shadow(0px 5px 5px black);
    filter:         drop-shadow(0px 5px 5px black); 
    transition: 200ms;
}
.twitter {
 
 width:100px;
  height:80px;
}
.twitter:hover {
 
 width:110px;
  height:90px;
  -webkit-filter: drop-shadow(0px 5px 5px black);
  filter:         drop-shadow(0px 5px 5px black); 
  transition: 200ms;}

.cellnum {
    font-size: 35px;
    width: 300px;
    text-align: center;
}

@media screen and (max-width: 450px) {
  
    }
    

